<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base :: layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class ="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="font-weight-bold">Connection Checker</h1>
            <p>Connection Checker is a simple and user-friendly Application, where anyone can store their friends and connections. After that, they are just one click away from you.</br>It can be used for hiring purposes as well because it can filter out your known connections based on their skills and records.</p>
            <a href="#" th:href="@{/about}" class="btn bg-primary btn-lg text-white">Get Start</a>
        </div>
    </section>

</body>
</html>